* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.events,
.donation,
.sign-up {
    display: flex;
    height: 65vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.services {
    background-image: url('/public/images/Services-Bayshore-Musallah.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 20%);
}

.events {
    background-image: url('/public/images/Events.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 20%);
}

.sign-up {
    background-image: url('/public/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.donation {
    background-image: url('/public/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}
